.dotted-wrapper {
  display: flex;
  justify-content: center;
}

/*.dotted-line::after{*/
/*  content:"..........................................................................................................................................................................................................";*/
/*}*/

.dotted-number {
}

.dotted-text {
  text-align: end;
  padding-left: 8px;
}

p{
  margin: 0;
  background: #0f0f0f;
}



