p{
  white-space: nowrap;
}
div{
  display: flex;
  justify-content: space-between;
  height: 28px;
}
.dotted-line {
  overflow: hidden;
  align-content: end;
  height: 12px;
  padding-top: 19px;
}

.dotted-line::after {
  content: "........................................................................................................................................................................................................................................................................................................................................................................................................................................";
  letter-spacing: 1px;
  font-size: 1.1rem;
}


