.tracklist-wrapper {
  display: flex;
  justify-content: center;
}

/*.tracklist-dotted-line::after{*/
/*  content:"..........................................................................................................................................................................................................";*/
/*}*/

.tracklist-number {
}

.tracklist-text {
  display: flex;
  text-align: end;
  padding-left: 8px;
}

p{
  margin: 0;
  background: #0f0f0f;
}

.tracklist-tooltip{
  display: none;
  position: absolute;

}

/*p:hover .tracklist-tooltip{*/
/*  cursor: help;*/
/*  display: block;*/
/*}*/



