figure {
  height: 500px;
  background: repeating-linear-gradient(90deg, #0f0f0f, #000 8px);
  width: 40px;
  padding: 16px;
  border: 2px solid #132123;
  margin: 0;
}

@media screen and (min-height: 900px) {
  figure {
    height: 700px;
  }
}

