.jewelCaseWrapper {
  position: relative;
  height: 600px;
}

.jewelCase {
  height: 600px;
  position: relative;
  z-index: 2;
  display: flex;
}

.jewelCaseBackSide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border: #132123 2px;
  border-style: solid dotted;
  padding: 16px;
  height: 100%;
  aspect-ratio: 1/1;
  background: #000;
  transition: transform 0.3s ease;
}

cd {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: transform 0.5s ease;
}

.jewelCaseWrapper:hover cd {
  transform: translateX(250px) translateY(-50px);
}

.jewelCaseWrapper:hover .jewelCaseBackSide {
  transform: translateY(20px) translateX(75px) rotateZ(4deg);
}
