.tracklistWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
}

tracklist-row:hover {
  color: #eeeeee
}

.tracklistTooltipDisplay {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 20px;
  padding: 30px;
  border: #132123 solid 1px;
  max-width: 600px;
}

.blinkingDash {
  animation: blinkingDash 1000ms infinite;
}

@keyframes blinkingDash {
  55%, 50%, 45% {
    opacity: 0;
  }
}
