<div class="tracklistWrapper">
  <tracklist-row tracklistNumber="14.10.2024"
                 tracklistText="{{'dotted.text.9bits' | translate}}"
                 tracklistTooltip="{{'dotted.tooltip.9bits' | translate}}"/>
  <tracklist-row tracklistNumber="31.06.2024"
                 tracklistText="{{'dotted.text.bachelorsThesis' | translate}}"
                 tracklistTooltip="{{'dotted.tooltip.bachelorsThesis' | translate}}"/>
  <tracklist-row tracklistNumber="15.08.2023"
                 tracklistText="{{'dotted.text.nekken' | translate}}"
                 tracklistTooltip="{{'dotted.tooltip.nekken' | translate}}"/>
  <tracklist-row tracklistNumber="01.02.2023"
                 tracklistText="{{'dotted.text.brandbo' | translate}}"
                 tracklistTooltip="{{'dotted.tooltip.brandbo' | translate}}"/>
  <tracklist-row tracklistNumber="01.10.2021"
                 tracklistText="{{'dotted.text.uwb' | translate}}"
                 tracklistTooltip="{{'dotted.tooltip.uwb' | translate}}"/>
  <tracklist-row tracklistNumber="31.06.2021"
                 tracklistText="{{'dotted.text.pogotowieKomputerowe' | translate}}"
                 tracklistTooltip="{{'dotted.tooltip.pogotowieKomputerowe' | translate}}"/>
  <tracklist-row tracklistNumber="01.09.2018"
                 tracklistText="{{'dotted.text.highSchool' | translate}}"
                 tracklistTooltip="{{'dotted.tooltip.highSchool' | translate}}"/>
  <tracklist-row tracklistNumber="XX.09.2016"
                 tracklistText="{{'dotted.text.codingClub' | translate}}"
                 tracklistTooltip="{{'dotted.tooltip.codingClub' | translate}}"/>
  <tracklist-row tracklistNumber="27.06.2003"
                 tracklistText="{{'dotted.text.birthDate' | translate}}"
                 tracklistTooltip="{{'dotted.tooltip.birthDate' | translate}}"/>

  <div class="tracklistTooltipDisplay">
    <!--    {{displayedTooltip}}-->
    cokolwiek
  </div>
</div>
