.tracklistWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  /*border: 1px #ccc solid;*/
}

tracklist-row:hover {
  color: #eeeeee
}

.tracklistTooltipDisplay {
  display: none;
  text-align: center;
  flex-direction: column;
  margin: 20px;
  padding: 30px;
  border: #132123 solid 1px;
  width: max-content;
}

.visible{
  display: flex;
}
