<div class="tracklistWrapper">
  <h2>Jakub Kańgowski</h2>
  <div class="tracklistRowWrapper">
    <tracklist-row tracklistNumber="14.10.2024"
                   tracklistText="{{'tracklist.text.9bits' | translate}}"
                   tracklistTooltip="{{'tracklist.tooltip.9bits' | translate}}"
                   tracklistTooltipTime="{{displayYearAndMonth()}}"
                   (hoverTooltip)="setTooltip($event)"
                   (hoverTooltipTime)="setTooltipTime($event)"/>
    <tracklist-row tracklistNumber="31.06.2024"
                   tracklistText="{{'tracklist.text.bachelorsThesis' | translate}}"
                   tracklistTooltip="{{'tracklist.tooltip.bachelorsThesis' | translate}}"
                   tracklistTooltipTime=""
                   (hoverTooltip)="setTooltip($event)"
                   (hoverTooltipTime)="setTooltipTime($event)"/>
    <tracklist-row tracklistNumber="15.08.2023"
                   tracklistText="{{'tracklist.text.nekken' | translate}}"
                   tracklistTooltip="{{'tracklist.tooltip.nekken' | translate}}"
                   tracklistTooltipTime="{{displayYearAndMonth(null, 1)}}"
                   (hoverTooltip)="setTooltip($event)"
                   (hoverTooltipTime)="setTooltipTime($event)"/>
    <tracklist-row tracklistNumber="01.02.2023"
                   tracklistText="{{'tracklist.text.brandbo' | translate}}"
                   tracklistTooltip="{{'tracklist.tooltip.brandbo' | translate}}"
                   tracklistTooltipTime="{{displayYearAndMonth(null, 3)}}"
                   (hoverTooltip)="setTooltip($event)"
                   (hoverTooltipTime)="setTooltipTime($event)"/>
    <tracklist-row tracklistNumber="01.10.2021"
                   tracklistText="{{'tracklist.text.uwb' | translate}}"
                   tracklistTooltip="{{'tracklist.tooltip.uwb' | translate}}"
                   tracklistTooltipTime="{{displayYearAndMonth(3)}}"
                   (hoverTooltip)="setTooltip($event)"
                   (hoverTooltipTime)="setTooltipTime($event)"/>
    <tracklist-row tracklistNumber="31.06.2021"
                   tracklistText="{{'tracklist.text.pogotowieKomputerowe' | translate}}"
                   tracklistTooltip="{{'tracklist.tooltip.pogotowieKomputerowe' | translate}}"
                   tracklistTooltipTime="{{displayYearAndMonth(3.5)}}"
                   (hoverTooltip)="setTooltip($event)"
                   (hoverTooltipTime)="setTooltipTime($event)"/>
    <tracklist-row tracklistNumber="01.09.2018"
                   tracklistText="{{'tracklist.text.highSchool' | translate}}"
                   tracklistTooltip="{{'tracklist.tooltip.highSchool' | translate}}"
                   tracklistTooltipTime="{{displayYearAndMonth(3)}}"
                   (hoverTooltip)="setTooltip($event)"
                   (hoverTooltipTime)="setTooltipTime($event)"/>
    <tracklist-row tracklistNumber="XX.09.2016"
                   tracklistText="{{'tracklist.text.codingClub' | translate}}"
                   tracklistTooltip="{{'tracklist.tooltip.codingClub' | translate}}"
                   tracklistTooltipTime="{{displayYearAndMonth(1)}}"
                   (hoverTooltip)="setTooltip($event)"
                   (hoverTooltipTime)="setTooltipTime($event)"/>
    <tracklist-row tracklistNumber="27.06.2003"
                   tracklistText="{{'tracklist.text.birthDate' | translate}}"
                   tracklistTooltip="{{'tracklist.tooltip.birthDate' | translate}}"
                   tracklistTooltipTime=""
                   (hoverTooltip)="setTooltip($event)"
                   (hoverTooltipTime)="setTooltipTime($event)"/>
  </div>
  @if (hasTooltip()) {
    <div class="tracklistTooltipDisplay">
      <span>{{ displayedTooltipTime }}</span>
      <span class="tracklistTooltipDisplayText">{{ displayedTooltip }}
        <span class="blinkingDash">_</span>
        </span>
    </div>
  }
</div>

