figure {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  aspect-ratio: 1/1;
  padding: 16px;
  margin: 0;
}

.disk {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  height: 94%;
  aspect-ratio: 1/1;
  background: repeating-radial-gradient(#132123, #777 7px);
}

.emptySpace {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  height: 22%;
  aspect-ratio: 1/1;
  background: #777;
}

.gap {
  border-radius: 100%;
  height: 40%;
  aspect-ratio: 1/1;
  background: #0f0f0f;
}
