section {
  display: flex;
  justify-content: space-between;
  padding: 5px 120px 15px;
}

div {
  display: flex;
  gap: 16px;
}

button {
  color: #ffc700;
  background: none;
  border: 2px #132123 solid;
  width: 160px;
}

i {
  font-size: 2em;
  color: #ffc700;
}

a:hover i {
  color: #eeeeee;
}
