<section>
  <div>
    <a HoverTooltip="{{ 'hoverTooltip.downloadCV' | translate }}"
       [href]="cvLanguageDirectory" download>
      <i class="ri-folder-download-line"></i>
    </a>
    <flag-button HoverTooltip="{{ 'hoverTooltip.changeLanguage' | translate }}"
                 (languageChangeEvent)="emitLanguageChange()"/>
  </div>

  <div>
    <a HoverTooltip="{{ 'hoverTooltip.copyEmail' | translate }}"
       (click)="copyToClipboard()">
      <i class="ri-mail-line" style="font-size: 2.4rem"></i>
    </a>
    <a HoverTooltip="{{ 'hoverTooltip.goToLinkedIn' | translate }}"
       href="https://www.linkedin.com/in/kańgowski" target="_blank">
      <i class="bi bi-linkedin"></i>
    </a>
    <a HoverTooltip="{{ 'hoverTooltip.goToGithub' | translate }}"
       href="https://github.com/VeniQs02" target="_blank">
      <i class="bi bi-github"></i>
    </a>
  </div>
</section>
